.nav-container {
  display: flex;
  flex-direction: row;
  padding: 10px;
  border-bottom: 1px solid #707070;
  margin-bottom: 10px;
  align-items: center;
  font-family: "Cinzel", serif;
  color: #961823;
}

.nav-container .nav-logo {
  font-size: 40px;
  flex: 2 1 auto;
}

.nav-container .nav-logo img {
  height: 30px;
  position: relative;
  top: 1px;
}

.nav-container .nav-link {
  flex: 1 1 auto;
  text-align: right;
  margin-right: 10px;
}

.nav-container .nav-link span {
  margin-left: 20px;
  font-size: 20px;
  position: relative;
  bottom: 2px;
}

@media screen and (max-width: 600px) {
  .nav-container .nav-logo {
    font-size: 6vw;
  }

  .nav-container .nav-logo img {
    height: 20px;
  }

  .nav-container .nav-link span {
    font-size: 4vw;
    position: relative;
    bottom: 1px;
  }
}
